@define-color red #f38ba8;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;

  min-height: 0;
}

window#waybar {
  background-color: #000000;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  border: none;
  border-radius: 0;
}


#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button.empty {
  opacity: 0.2;
}

#workspaces button.active {
  color: @red;
  opacity: 1;
}
#workspaces button:hover {
  background-color: #101010;
  opacity: 1;
}

#idle_inhibitor,
#language,
#pulseaudio,
#custom-brightness,
#tray {
  padding: 0 5px;
  color: #ffffff;
  margin: 0;
}

#clock {
  margin: 0;
  color: #ffffff;
}

#workspaces {
  margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#pulseaudio.source-muted {
  color: @red;
}

#idle_inhibitor.activated {
  color: @red;
  opacity: 1;
}

#tray {
  min-width: 20px;
}

/* Style the tray menu (the pop-up window) */
#tray menu {
  padding: 2px;
}

/* Style individual menu items within the tray menu */
#tray menu menuitem {
  padding: 5px 0;
}

#language {
  min-width: 16px;
}
